body {
  --name-font: "Life Savers", serif;
  --info-font: "Bellefair", serif;
  --paragraph-font: "Wix Madefor Text", sans-serif;
  --header-font: "Tilt Warp", serif;
  --code-font: Monaco, monospace;
}

@font-face {
  font-family: Monaco;
  src: url("~/assets/fonts/Monaco.ttf");
}
