body {
  --name-font: "Life Savers", serif;
  --info-font: Bellefair, serif;
  --paragraph-font: "Wix Madefor Text", sans-serif;
  --header-font: "Tilt Warp", serif;
  --code-font: Monaco, monospace;
}

@font-face {
  font-family: Monaco;
  src:
    local(Monaco),
    url("https://cdn.jsdelivr.net/gh/ruby-ist/MyPortfolioV2@main/public/fonts/Monaco.ttf"),
    url("/fonts/Monaco.ttf");
}
