body {
  --name-font: "Life Savers", serif;
  --info-font: "Bellefair", serif;
  --paragraph-font: "Wix Madefor Text", sans-serif;
  --header-font: "Tilt Warp", serif;
  --code-font: "JetBrains Mono", monospace;
}
