:root,
html,
body {
  padding: 0;
  margin: 0;
  height: 100dvh;
  overflow: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  overflow-y: auto;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}
